@use '../../../../themes' as *;


.container{
  text-align: center;
  width: 520px;
  max-height: 700px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: nb-theme(color-basic-700);
}


.playlist{
  img {
    width: 50px;
  }
  margin: 25px;
  display: flex;
  flex-direction: column;
}

div {
  display: inline-flex;
  width: 100px;
}
mat-dialog-content{
  display: flex;
  flex-wrap: wrap;
}
