<nb-card>
  <nb-card-body>
    <div class="wrapper">
      <section class="generalInfo">
        <div class = "cover">
          <img src = "{{dataSource?.coverImageUrl}} || '../../../../../assets/images/songIcon.png" alt = "song details"/>
        </div>
        <div class = "infoPanel">
          <header>
            <h1>{{dataSource?.name}}</h1>
          </header>

          <h2>Contributing artists</h2>
          <p *ngFor="let artist of dataSource?.artists">{{artist.artistName}}</p>
        </div>
      </section>
      <div class="controls">
        <button nbButton status="primary" aria-label="Play button"
                (click) = "playSong()">
          <nb-icon icon="arrow-right-outline"></nb-icon>
        </button>
        <button nbButton status="primary" aria-label="Play button"
                (click) = "openOptions()">
          <nb-icon icon="more-horizontal-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>



