.nameCell {
  text-align: left;
  word-break: break-word;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mat-column-coverImg{
  width: 60px;
  flex: 0 0 60px;
}

.mat-column-position {
  padding: 0 !important;
  width: 50px;
  flex: 0 0 50px;
  justify-content: center;
}
.mat-column-length {
  width: 70px;
  flex: 0 0 70px;
}

.mat-column-name {
  flex: 0 0 80%;
}

.mat-column-controls {
  width: 50px;
  flex: 0 0 50px;
  margin: 0 !important;
  padding: 0 !important;
}


.coverImage {
  max-width: 40px;
}

.controls{
  button{
    padding: 0 !important;
    margin: 0 !important;
  }
}



@media (min-width: 800px) and (max-width: 1100px){

  .nameCell {
    max-width: 900px;
  }
}



@media (min-width: 600px) and (max-width: 799px) {

  .nameCell {
    max-width: 380px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {

  .nameCell {
    max-width: 170px;
  }
}

@media (max-width: 399px) {

  .nameCell {
    max-width: 125px;
  }

  .coverImage {
    visibility: collapse;
  }

  .mat-column-controls{
    margin-left: 5px;
  }

  .mat-column-coverImg{
    width: 0;
    flex: 0 0 0px;
    padding: 0;
  }
}



