.divider{
  border: 0.1px solid white;
}

.wrapper{
  padding: 20px;
}
.albumsContainer{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.album{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
