

section{
  display: flex;
  flex-direction: row;
}

.infoPanel{
  margin: 10px;
}

.cover{
  img{
    width: 150px;
  }
}


@media (min-width: 290px) and (max-width: 600px) {
  .infoPanel{
    h1{
      font-size: 1.5em;
    }
  }

  section {
    text-align: center;
    flex-direction: column;
  }
}
